:root {
  --color: #e17c57;
  --background: #5eb490;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

/* Question Button  */
.QuestionButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.questionButtons {
  width: 12.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  background-color: var(--background);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.1s ease;
}

.questionButtons:hover {
  border: 3px solid var(--background);
  color: var(--background);
  background-color: transparent;
}

.questionButtons.selected {
  border: 3px solid var(--background);
  color: var(--background);
  background-color: transparent;
}


.buttonContent {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.questionInfo {
  text-align: center;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
  color: var(--color);
}

/* Question */

.questions {
  color: var(--color);
  letter-spacing: 0.2rem;
}


/* Responsive */

@media (max-width: 768px) {
  .buttonContent {
    gap: 10px;
  }
}